.rounded-t-5 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
  .rounded-tr-lg-0 {
    border-top-right-radius: 0;
  }

  .rounded-bl-lg-5 {
    border-bottom-left-radius: 0.5rem;
  }
}
.landingPage{
  background-image: url('https://repository-images.githubusercontent.com/593550946/6b250d13-d7c9-4cc2-ad7c-4d5be14bf7c9');
  /* background-image: url('http://localhost:3000/dw-hero-website-home_big.png'); */
  height: 500px;
  background-size: cover;
  background-position: 50% 50%;
  background-color: transparent;
}
